# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
.Python

# Virtual environments
env/
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
*.log
local_settings.py
pip-log.txt

# Static and Media
/staticfiles/
/static_root/
/media/

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store